{% extends "RollRollBundle::layout.html.twig" %}

{% block content %}
	<h1>Mes parties</h1>
	
	<a href="{{ path('createGame') }}">Créer une partie</a>

	<h3>Mes parties</h3>
	<style>
	.ntable {
		border-collapse: collapse;
		width: 100%;
	}
	.ntable td, .ntable th {
		border: 1px solid black;
		padding: 4px;
	}
	.ntable th {
		text-align: center;
		background: rgba(0,0,0,0.1);
	}
	</style>

	<table class="ntable">
		<tr>
			<th style="width: 30%;">Nom</th>
			<th style="width: 30%;">Joueurs</th>
			<th>Actions</th>
		</tr>
		{% for game in games %}
			{% set nbs = users[game.getId()]|length %}
			{% if user in users[game.getId()] %}
			<tr>
				<td>{{ game.getName() }}</td>
				<td style="text-align: center;">
					{{ nbs }}/{{ game.getNbPlayers() }}
				</td>
				<td style="text-align: center;">
					{% if nbs == game.getNbPlayers() %}
					<a href="{{ path('game',{'id':game.getId()}) }}">
						{% if game.getCurrentPlayer() is null %}
							Scores
						{% else %}
							Jouer
						{% endif %}
					</a>
					{% else %}
						Attente de {{ game.getNbPlayers() - nbs }} joueur{% if game.getNbPlayers() - nbs > 1 %}s{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>

	<h3>Autres parties</h3>
	<table class="ntable">
		<tr>
			<th style="width: 30%;">Nom</th>
			<th style="width: 30%;">Joueurs</th>
			<th>Actions</th>
		</tr>
		{% for game in games %}
			{% if user not in users[game.getId()] %}
			{% set nbs = users[game.getId()]|length %}
			<tr>
				<td>{{ game.getName() }}</td>
				<td style="text-align: center;">
					{{ nbs }}/{{ game.getNbPlayers() }}
				</td>
				<td style="text-align: center;">
					{% if nbs < game.getNbPlayers() %}
					<a href="{{ path('joinGame',{'id':game.getId()}) }}">Rejoindre</a>
					{% else %}
						{% if game.getCurrentPlayer() is null %}
							<a href="{{ path('game',{'id':game.getId()}) }}">Scores</a>
						{% else %}
							Partie pleine
						{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}
















