<!DOCTYPE html>
<html>
    <head>
        <title>RollRollBundle</title>
    </head>
    <body>
        <link href="{{ asset('css/skin.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/plateau.css') }}" rel="stylesheet" type="text/css">
    	<div id="menu">
    		<strong>
                <a href="{% if user is defined and user is not null %}{{ path('games') }}{% else %}{{ path('home') }}{% endif %}">
                    RollingDice
                </a>
            </strong>
            
            <div style="float: right;">
            {% if user is defined and user is not null %}
                {{ user.getPseudo() }} (<a href="{{ path('logout') }}">deconnexion</a>)
            {% else %}
                <a href="{{ path('login') }}">Connexion</a> / <a href="{{ path('register') }}">Inscription</a>
            {% endif %}
    	   </div>
        </div>

        <div id="container">
            <div id="supcontainer">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>